<form [formGroup]="formGroup" class="container h-100 p-5 bg-secondary" (ngSubmit)="save()">
  <div class="text-right">
    <button class="btn btn-success btn-lg" type="submit" [disabled]="isLoading">
      <i class="bx bx-save mr-2"></i>
      <span>Salva</span>
    </button>
  </div>
  <div class="columns" *ngIf="!isLoading; else loader">
    <div class="column col-4">
      <app-form-group [formGroup]="formGroup" formControlName="hourCost">
        <label class="form-label" for="hour-cost">Costo orario</label>
        <div class="has-icon-left">
          <input class="form-input" type="number" step="0.01" id="hour-cost" placeholder="Costo orario" formControlName="hourCost">
          <i class="form-icon bx bx-euro mr-2"></i>
        </div>
      </app-form-group>
    </div>
    <div class="column col-4">
      <app-form-group [formGroup]="formGroup" formControlName="extraHourCost">
        <label class="form-label" for="extra-hour-cost">Costo ore extra</label>
        <div class="has-icon-left">
          <input class="form-input" type="number" step="0.01" id="extra-hour-cost" placeholder="Costo ore extra"
            formControlName="extraHourCost">
          <i class="form-icon bx bx-euro mr-2"></i>
        </div>
      </app-form-group>
    </div>
    <div class="column col-4">
      <app-form-group [formGroup]="formGroup" formControlName="subscriptionAmount">
        <label class="form-label" for="subscription-cost">Costo contratto</label>
        <div class="has-icon-left">
          <input class="form-input" type="number" step="0.01" id="subscription-cost" placeholder="Costo contratto"
            formControlName="subscriptionAmount">
          <i class="form-icon bx bx-euro mr-2"></i>
        </div>
      </app-form-group>
    </div>
  </div>
</form>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
