@import 'src/styles/variables';

$navbar-height: 50px;

header {
  height: $navbar-height;
  border-bottom: 1px solid $primary-color;

  .navbar-center {
    padding: $spacing-xs 0;
    height: 100%;

    .navbar-logo {
      max-height: 90%;
    }
  }

  .navbar-section {
    padding: 0 $spacing-lg;
  }
}
