<app-hbf-template class="h-100" [overflowScroll]="true">

  <div header class="p-5 pb-0 h-100 text-center">
    <h2 class="text-primary">Riepilogo presenze</h2>
    <div *ngIf="!isLoading" class="header-container pb-2">
      <dx-select-box [dataSource]="kidsDataSource" id="kids" valueExpr="id" displayExpr="description"
        [searchEnabled]="true" [showClearButton]="true" (onValueChanged)="onKidChanged($event)" [value]="selectedKidId">
      </dx-select-box>

      <dx-date-box type="date" (onValueChanged)="onDateChanged($event)" [disabled]="isLoading"
        displayFormat="monthAndYear" [calendarOptions]="calendarOptions" [value]="selectedDate">
      </dx-date-box>
    </div>
  </div>

  <div body *ngIf="!isLoading; else loader;" class="p-5 h-100">
    <div class="container">
      <dx-data-grid class="h-100" [dataSource]="presenceSummary.presences" [showBorders]="true" [rowAlternationEnabled]="true">

        <dxo-export [enabled]="true" [fileName]="fileName"></dxo-export>
        <dxo-paging [enabled]="false"></dxo-paging>

        <dxi-column caption="Giorno" dataField="date" dataType="datetime" cellTemplate="dayCellTemplate">
          <div *dxTemplate="let data of 'dayCellTemplate'">
            {{ data?.data?.date | date:'EEEE dd' }}
          </div>
        </dxi-column>
        <dxi-column caption="Mattina">
          <dxi-column caption="Entrata" dataField="morningEntry" dataType="datetime"
            cellTemplate="morningEntryCellTemplate">
            <div *dxTemplate="let data of 'morningEntryCellTemplate'">
              {{ data?.data?.morningEntry | date:'shortTime' }}
            </div>
          </dxi-column>
          <dxi-column caption="Uscita" dataField="morningExit" dataType="datetime"
            cellTemplate="morningExitCellTemplate">
            <div *dxTemplate="let data of 'morningExitCellTemplate'">
              {{ data?.data?.morningExit | date:'shortTime' }}
            </div>
          </dxi-column>
        </dxi-column>
        <dxi-column caption="Pomeriggio">
          <dxi-column caption="Entrata" dataField="eveningEntry" dataType="datetime"
            cellTemplate="eveningEntryCellTemplate">
            <div *dxTemplate="let data of 'eveningEntryCellTemplate'">
              {{ data?.data?.eveningEntry | date:'shortTime' }}
            </div>
          </dxi-column>
          <dxi-column caption="Uscita" dataField="eveningExit" dataType="datetime"
            cellTemplate="eveningExitCellTemplate">
            <div *dxTemplate="let data of 'eveningExitCellTemplate'">
              {{ data?.data?.eveningExit | date:'shortTime' }}
            </div>
          </dxi-column>
          <dxi-column name="dayHours" caption="Ore giornaliere" dataType="number"
            cellTemplate="dayHoursTotalCellTemplate">
            <div *dxTemplate="let data of 'dayHoursTotalCellTemplate'">
              {{ data?.data?.morningHours + data?.data?.eveningHours}}
            </div>
          </dxi-column>
        </dxi-column>

        <dxo-summary [calculateCustomSummary]="calculateMonthHoursTotal">
          <dxi-total-item name="monthHoursTotal" summaryType="custom" valueFormat="decimal" displayFormat="Ore totali: {0}" showInColumn="dayHours">
          </dxi-total-item>
        </dxo-summary>

      </dx-data-grid>
    </div>
  </div>

  <div footer class="h-100 p-5 text-center">
    <button class="btn btn-success btn-lg ml-2" type="button" [disabled]="isLoading || !selectedKidId || !selectedDate"
      (click)="print()">
      <i class="bx bxs-file-pdf mr-2"></i>
      <span>Stampa</span>
    </button>
  </div>

</app-hbf-template>

<ng-template #loader>
  <div body class="p-5 h-100">
    <app-loader></app-loader>
  </div>
</ng-template>
