<app-hbf-template class="h-100" [overflowScroll]="true">

  <div header class="p-5 pb-0 h-100 text-center">
    <h2 class="text-primary">Riepilogo presenze</h2>
    <div *ngIf="!isLoading" class="header-container pb-2">
      <dx-select-box [dataSource]="kidsDataSource" id="kids" valueExpr="id" displayExpr="description"
        [searchEnabled]="true" [showClearButton]="true" (onValueChanged)="onKidChanged($event)" [value]="selectedKidId">
      </dx-select-box>

      <dx-date-box type="date" (onValueChanged)="onDateChanged($event)" [disabled]="isLoading"
        displayFormat="monthAndYear" [calendarOptions]="calendarOptions" [value]="selectedDate">
      </dx-date-box>
    </div>

    <div class="text-primary" *ngIf="selectedKid">
      <h6 *ngIf="!selectedKid?.contract.monthlyContract">{{ selectedKid?.contract?.description }}
        ({{ selectedKid?.contract?.minContractValue }}€)</h6>
      <h6 *ngIf="selectedKid?.contract.monthlyContract">{{ selectedKid?.contract?.description }}
        {{ selectedKid?.contract?.monthlyHours }} ore (mensile)</h6>
    </div>
  </div>

  <div body *ngIf="!isLoading; else loader;" class="p-5 h-100">
    <div class="container h-100">
      <dx-data-grid class="h-100" [dataSource]="presenceSummary?.presences" [showBorders]="true"
        [rowAlternationEnabled]="true">

        <dxo-export [enabled]="true" [fileName]="fileName"></dxo-export>
        <dxo-paging [enabled]="false"></dxo-paging>

        <dxi-column caption="Giorno" dataField="date" dataType="datetime" cellTemplate="dayCellTemplate">
          <div *dxTemplate="let data of 'dayCellTemplate'">
            {{ data?.data?.date | date:'EEEE dd' }}
          </div>
        </dxi-column>
        <dxi-column caption="Mattina">
          <dxi-column caption="Entrata" dataField="morningEntry" dataType="datetime"
            cellTemplate="morningEntryCellTemplate">
            <div *dxTemplate="let data of 'morningEntryCellTemplate'">
              {{ data?.data?.morningEntry | date:'shortTime' }}
            </div>
          </dxi-column>
          <dxi-column caption="Uscita" dataField="morningExit" dataType="datetime"
            cellTemplate="morningExitCellTemplate">
            <div *dxTemplate="let data of 'morningExitCellTemplate'">
              {{ data?.data?.morningExit | date:'shortTime' }}
            </div>
          </dxi-column>
        </dxi-column>
        <dxi-column caption="Pomeriggio">
          <dxi-column caption="Entrata" dataField="eveningEntry" dataType="datetime"
            cellTemplate="eveningEntryCellTemplate">
            <div *dxTemplate="let data of 'eveningEntryCellTemplate'">
              {{ data?.data?.eveningEntry | date:'shortTime' }}
            </div>
          </dxi-column>
          <dxi-column caption="Uscita" dataField="eveningExit" dataType="datetime"
            cellTemplate="eveningExitCellTemplate">
            <div *dxTemplate="let data of 'eveningExitCellTemplate'">
              {{ data?.data?.eveningExit | date:'shortTime' }}
            </div>
          </dxi-column>
          <dxi-column name="dailyHours" caption="Ore totali giornaliere"
            dataType="number" cellTemplate="dailyHoursCellTemplate">
            <div *dxTemplate="let data of 'dailyHoursCellTemplate'">
              {{ data?.data?.dailyHours }}
            </div>
          </dxi-column>
          <dxi-column name="dayExtraHours" caption="Extra contratto - {{ selectedKid?.contract.hourCost }}€"
            dataType="number" cellTemplate="dayExtraHoursTotalCellTemplate">
            <div *dxTemplate="let data of 'dayExtraHoursTotalCellTemplate'">
              {{ data?.data?.extraContractHours }}
            </div>
          </dxi-column>
          <dxi-column name="dayExtraServiceHours" caption="Fuori orario - {{ selectedKid?.contract.extraHourCost }}€"
            dataType="number" cellTemplate="dayExtraServiceHoursTotalCellTemplate">
            <div *dxTemplate="let data of 'dayExtraServiceHoursTotalCellTemplate'">
              {{ data?.data?.extraServiceTimeHours }}
            </div>
          </dxi-column>
        </dxi-column>

        <dxo-summary [calculateCustomSummary]="calculateMonthHoursTotal">
          <dxi-total-item name="monthHoursTotal" summaryType="custom" valueFormat="decimal"
            displayFormat="Ore totali: {0}" showInColumn="dailyHours">
          </dxi-total-item>
          <dxi-total-item name="extraHoursTotal" summaryType="custom" valueFormat="decimal"
            displayFormat="Ore extra contratto: {0}" showInColumn="dayExtraHours">
          </dxi-total-item>
          <dxi-total-item name="extraServiceTimeHoursTotal" summaryType="custom" valueFormat="decimal"
            displayFormat="Ore extra orario: {0}" showInColumn="dayExtraServiceHours">
          </dxi-total-item>
        </dxo-summary>

      </dx-data-grid>
    </div>
  </div>

  <div footer class="h-100 p-5 text-center">
    <button class="btn btn-success btn-lg ml-2" type="button" [disabled]="isLoading || !selectedKidId || !selectedDate"
      (click)="print()">
      <i class="bx bxs-file-pdf mr-2"></i>
      <span>Stampa</span>
    </button>
  </div>

</app-hbf-template>

<ng-template #loader>
  <div body class="p-5 h-100">
    <app-loader></app-loader>
  </div>
</ng-template>
