@import 'src/styles/variables';

.dx-datagrid .dx-row-alt > td,
.dx-datagrid .dx-row-alt > tr > td {
  background-color: $secondary-color;
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;
}
