<app-hbf-template class="h-100">
  <div header class="p-5 pb-0 h-100 text-center">
    <h2 class="mb-0 text-primary">Elenco bambini</h2>
    <div class="text-right">
      <button class="btn btn-secondary btn-lg" type="submit" [disabled]="isLoading" (click)="add()">
        <i class="bx bx-plus mr-2"></i>
        <span>Aggiungi</span>
      </button>
    </div>
  </div>
  <div body *ngIf="!isLoading; else loader;" class="p-5 h-100">
    <dx-data-grid class="h-100" [dataSource]="dataSource" [showBorders]="true" [rowAlternationEnabled]="true" (onSelectionChanged)="onSelection($event)">
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
      </dxo-pager>
      <dxo-selection mode="single"></dxo-selection>

      <dxi-column caption="Bambino">
        <dxi-column caption="Nome" dataField="firstName" dataType="string"></dxi-column>
        <dxi-column caption="Cognome" dataField="lastName" dataType="string"></dxi-column>
        <dxi-column caption="Codice fiscale" dataField="fiscalCode" dataType="string"></dxi-column>
        <dxi-column caption="Data di nascita" dataField="birthdate" dataType="date" format="dd/MM/yyyy"></dxi-column>
      </dxi-column>
      <dxi-column caption="Genitore">
        <dxi-column caption="Nome" dataField="parentFirstName" dataType="string"></dxi-column>
        <dxi-column caption="Cognome" dataField="parentLastName" dataType="string"></dxi-column>
      </dxi-column>
    </dx-data-grid>
  </div>
  <div footer class="h-100">
  </div>
</app-hbf-template>

<ng-template #loader>
  <div body class="p-5 h-100">
    <app-loader></app-loader>
  </div>
</ng-template>
