@import "src/styles/variables";

.home-container {
  display: flex;
  flex-direction: column;

  .home-header {
    // nothing atm
  }

  .home-body {
    display: flex;
    flex: 1;
    flex-direction: row;
    max-height: calc(100% - #{$navbar-height});

    .menu-container {
      flex: 0 0 $menu-width;
    }

    .router-outlet-container {
      flex: 1;
      max-height: 100%;
    }
  }
}
